{
  "presets": [
    [
      "@babel/env",
      {
        "targets": {
          "browsers": [ ">0.25%", "ie >= 11"]
        },
        "loose": true
      }
    ]
  ],
  "plugins": [
    [
      "babel-plugin-inferno",
      {
        "imports": true,
        "defineAllArguments": true
      }
    ],
    ["@babel/plugin-proposal-class-properties", { "loose": true }],
    ["@babel/plugin-proposal-private-property-in-object", { "loose": true }],
    "@babel/plugin-proposal-object-rest-spread",
    "@babel/plugin-transform-async-to-generator"
  ]
}
