# APP
node_modules
public/
build/
data/
uploads/
stats.json
dist/

# Other
INFERNOJS_SECRET
*.pem
*.log
*.db
.idea
.DS_Store
*.map
.sass-cache/*
.TemporaryItems/*
.vscode

package-lock.json
*.orig

.vercel
