@import "main.scss";

#demo-wrapper {
    padding: 2rem;

    .demo-setting {
        padding: 0;
        display: flex;
        flex-flow: column;

        div {
            flex: 1;
        }
    }
    .demo-counter {
        padding: 0.5rem 0;
    }
    .demo-slider {
        width: 20rem;
        display: flex;
    }

    button {
        color: #fff;
        background: $primary;
        border: 0;
        padding: 0.4rem 0.8rem;
        margin: 0 0 0.8rem 0;
        font-size: 1rem;
        cursor: pointer;
    }
}

#demo-canvas {
    overflow: hidden;
    color: #ddd;
    background: #000;
    border: 1px solid #777;
    position: relative;

    .particle, .field {
        position: absolute;
        pointer-events: none;
    }
    .particle {
        width: 20px;
        height: 20px;
        //border-radius: 10px;
        //mix-blend-mode: multiply;
        //transform: translateZ(0);
        /*animation-name: flicker;
        animation-duration:3ms;
        animation-delay:200ms;
        animation-timing-function: ease-in;
        animation-iteration-count: infinite;
        animation-direction: alternate;*/
    }
    .round {
        border-radius: 10px;
    }
    .particle2 {
        width: 20px;
        height: 20px;
    }
}
