$primary: #f23f3f;

// Centers the element and limits the width
.container {
    max-width: 960px;
    margin: 0 auto;
    padding: 0;
    display: flex;
}

.row {
    display: flex;
    & > * {
        flex: 1;
    }
}

h1 {
    font-size: 2.6rem;
    font-weight: 100;
    text-align: center;
    margin: 0;
}

.home {
    .hero-banner {
        max-width: 40rem;
        margin: 3rem auto;
        text-align: center;

        h1 {
            font-size: 2rem;
            margin-bottom: 3rem;
        }
        button {
            padding: 1rem 2rem;
            margin: 0 1rem;
            font-size: 1rem;
            cursor: pointer;

            &:first-child {
                color: #fff;
                background: $primary;
                border: 0;
            }
            &:last-child {
                color: #555;
                background: #fff;
                border: 2px solid #777;
            }
        }
    }
    section {
        background: #f8f8f8;
        padding: 2rem;

        article {
            flex: 1;
            h2 {
                color: $primary;
                border-left: 3px solid $primary;
                padding-left: 0.6rem;
            }
            p {
                padding-left: 0.8rem;
            }
        }
    }
}

@media (max-width: 700px) {
    .home {
        .hero-banner {
            padding: 2rem;
            button {
                margin: 0;
            }
        }
        section {
            .container {
                display: block;
            }
        }
    }
}
