menu {
    margin: 0;
    padding: 1rem;
    width: 100%;
    display: flex;

    .align-left {
        flex: 1;
    }
    .align-right {
        flex: 1;
        display: flex;
        align-items: flex-end;
    }

    a {
        color: #333;
        font-size: 1rem;
        line-height: 2rem;
        margin-right: 1rem;
        display: inline-block;
        cursor: pointer;
        text-decoration: none;
        transition: color 0.2s ease-in-out;
        flex: 1;

        &:hover {
            color: #000;
        }
        &.selected {
            color: #000;
            outline: none;
            border-bottom: 1px solid #000;
        }
    }
}
