.home a.button {
display: inline-block;
    text-decoration: none;
    padding: 1em 1.5em;
    border-radius: 2em;
    text-align: center;
    cursor: pointer;
    font-size: 1em;
    min-width: 160px;
    font-weight: bold;
    border: 0;
    color: #fff;
    background: $primary;
    margin-right: 1rem;
            &:hover {
                color: $white;
                background-color: $primary;
            }
            @include media-query($on-laptop) {
                margin: 0.5em;
            }
            color: $white;
            background: $primary;
            border: 0;
            &.second {
                color: $primary;
                background: $white;
                border: 2px solid $primary;
                &:hover {
                    color: $white;
                    background-color: $primary;
                    border: 2px solid $primary;
                }
            }
        }
