        button,
        a.button {
            padding: 1rem 2rem;
            margin: 0 1rem 0 0;
            font-size: 1rem;
            border-radius: 2rem;
            min-width: 10rem;
            text-decoration: none;
            text-align: center;
            cursor: pointer;
             @include media-query($on-small) {
            width: 100%;
                 margin: 0px;
                 margin-bottom: 1rem;
            }
            &:first-child {
                color: $white;
                background: $primary;
                border: 0;
            }
            &:last-child {
                color: $primary;
                background: $white;
                border: 2px solid $primary;
            }
        }
