.button,
.button:visited {
    -webkit-transition: all 250ms;
    -moz-transition: all 250ms;
    transition: all 250ms;
    padding: 1em 3.5em;
    border-radius: 2em;
    text-align: center;
    cursor: pointer;
    font-weight: bold;
    border: 0;
    color: $white;
    background: $primary;
    margin-right: 1rem;
    text-decoration: none !important;
    &.not-pad {
        padding: 1em .5em;
    }
    &:hover {
        color: $white;
        background-color: $black;
        text-decoration: none;
    }
    @include media-query($on-small) {
        display: block;
        margin: 25px auto;
    }
    &.second {
        color: $primary;
        text-decoration: none;
        background: $white;
        border: 2px solid $primary;
        &:hover {
            color: $white;
            background-color: $primary;
        }
    }
}
