@import "../../../../node_modules/bootstrap/scss/normalize";
@import "../../../../node_modules/bootstrap/scss/mixins";
@import "../../../../node_modules/bootstrap/scss/variables";
@import "../../../../node_modules/bootstrap/scss/reboot";
$columns: 12;
$grid: ( xs: 0px, sm: 700px, lg: 990px);
$gutter: 15px;

.container {
    margin: 0 auto;
    padding-left: $gutter;
    padding-right: $gutter;
    width: 100%;
    max-width: 1200px;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -#{$gutter};
    margin-left: -#{$gutter};
}

%column {
    position: relative;
    min-height: 1px;
    width: 100%;
    padding: 0 $gutter;
}

@each $breakpoint in map-keys($grid) {
    @for $i from 1 through $columns {
        .#{$breakpoint}#{$i} {
            @extend %column;
        }
    }
}

@each $breakpoint in map-keys($grid) {
    @for $i from 1 through $columns {
        .#{$breakpoint}#{$i} {
            @extend %column;
        }
    }
    $width: map-get($grid, $breakpoint);
    @media (min-width:$width) {
        .#{$breakpoint} {
            flex: 0 0 50%;
            max-width: 50%;
        }
        @for $i from 1 through $columns {
            .#{$breakpoint}#{$i} {
                flex: 0 0 percentage($i/$columns);
                max-width: percentage($i/$columns);
            }
        }
    }
}


/* Media-queries */

$on-small: 500px;
$on-laptop: 700px;
$on-desktop: 1000px;

@mixin media-query($device) {
    @media (max-width: $device) {
        @content;
    }
};


.container::after {
    content: "";
    display: table;
    clear: both;
}

body {
    height: 100%;
    background: #fff;
    font-family: "Open Sans", "lucida grande", "Segoe UI", arial, verdana, "lucida sans unicode", tahoma, sans-serif;
    font-size: 13px;
    font-weight: normal;
    color: #3d464d;
    padding: 0;
    margin: 0;
    border: 0;
    overflow-x: hidden;
    letter-spacing: 0.2px;
    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
}
