@import "../../../../node_modules/bootstrap/scss/normalize";
@import "../../../../node_modules/bootstrap/scss/mixins";
@import "../../../../node_modules/bootstrap/scss/variables";
@import "../../../../node_modules/bootstrap/scss/reboot";
@import "../../../../node_modules/bootstrap/scss/utilities";
@import "/utilities";
.container {
    margin: 0 auto;
    padding-left: $gutter;
    padding-right: $gutter;
    width: 100%;
    max-width: 1200px;
    @include media-query($on-small) {
        padding-left: 0px;
        padding-right: 0px;
    }
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.container::after {
    content: "";
    display: table;
    clear: both;
}

body {
    height: 100%;
    background: #fff;
    font-family: 'Source Sans Pro', 'Helvetica Neue', Arial, sans-serif;
    font-size: 14.5px;
    font-weight: normal;
    padding: 0;
    margin: 0;
    border: 0;
    overflow-x: hidden;
    letter-spacing: 0.2px;
    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
}

#root {
    background: #fff;
    z-index: 1;
}

#load {
    position: absolute;
    text-align: center;
    bottom: 16px;
    width: 100%;
    z-index: -1;
}

h1,
h2 {
    font-family: "Open Sans", "lucida grande", "Segoe UI", arial, verdana, "lucida sans unicode", tahoma, sans-serif;
    font-weight: normal;
}
