#demo-wrapper {
    padding: 2rem;

    .demo-setting {
        padding: 0;
        display: flex;
        flex-flow: column;

        div {
            flex: 1 1 auto;
            max-width: 100%;
        }
    }
    .demo-counter {
        padding: 0.5rem 0;
    }
    .demo-slider {
        width: 20rem;
        display: flex;
    }

    button {
        color: $white;
        background: $primary;
        border: 0;
        padding: 0.4rem 0.8rem;
        margin: 0 0 0.8rem 0;
        font-size: 1rem;
        cursor: pointer;
    }
}

#demo-canvas {
    background: $black;
    position: relative;
    overflow: hidden;

    .particle, .field {
        position: absolute;
        pointer-events: none;
    }
    .particle {
        width: 20px;
        height: 20px;
        border-radius: 10px;
    }
    .round {
        border-radius: 5px;
    }
}
