.docs {
    flex-wrap: nowrap;
    flex-direction: row;

    @include media-query($on-medium) {
        flex-wrap: wrap;
    }

    aside.docs-menu {
        padding: 2rem 1rem;
        flex-wrap: nowrap;
        min-width: 14rem;
        @include media-query($on-small) {
            flex-wrap: wrap;
            padding: $gutter;
            width: 100%;
        }
        ul {
            padding: 0;
            li {
                list-style: none;
                a {
                    -webkit-transition: all .2s ease-in-out;
                    -o-transition: all .2s ease-in-out;
                    transition: all .2s ease-in-out;
                    color: $black;
                    display: inline-block;
                    line-height: 1.25rem;
                    margin-bottom: 0.6rem;
                    border-bottom: 1px solid transparent;
                    text-decoration: none;
                    cursor: pointer;

                    &:hover,
                    &.selected {
                        color: $primary;
                        border-bottom-color: $primary;
                    }
                }
            }
        }
    }
    aside.docs-content {
        @include media-query($on-small) {
            width: 100%;
            flex-wrap: wrap;
            padding: $gutter;
            border: 0px;
        }
        border-left: 1px solid $grey;
        padding: 1.75rem 0 1.75rem 2.25rem;
        flex-grow: 2;
        max-width: calc( 100% - 14rem );
        p {
            font-size: 1rem;
            @include media-query($on-small) {
                        font-size: 13px;
            }

        }
        hr {
            border: 1px solid $grey;
            background: none;
        }
        h2 {
            font-weight: normal;
            font-size: 1.5rem;
            color: $black;
            border-bottom: 1px solid $grey;
            line-height: 3rem;
            margin-bottom: 1rem;
        }
        h3 {
            font-weight: normal;
            font-size: 1.3rem;
            color: $secondary;
            margin-top: 30px;
        }
        h4 {
            margin-top: 40px;
            color: $primary;
        }
        pre {
            background: $bg;
            border: 1px solid $grey;
            padding: 1rem;
            border-radius: 3px;
            margin-bottom: 40px;
            code {
                background: inherit;
                border: none;
                padding: 0;
            }
        }
        code {
            color: $black;
            background: $bg;
            border: 1px solid $grey;
            padding: 0.45rem;
            font-size: .9rem;
            border-radius: 5px;
        }
        a {
            -webkit-transition: all .2s ease-in-out;
            -o-transition: all .2s ease-in-out;
            transition: all .2s ease-in-out;
            color: $primary;
            line-height: 1.6rem;
            margin-bottom: 0.6rem;
            border-bottom: 1px solid transparent;
            text-decoration: none;
            cursor: pointer;
            &:hover {
                border-bottom-color: $grey;
            }
        }
    }
}
