.docs {
    aside.docs-menu {
        padding: 2rem 1rem;
        width: 12rem;

        a {
            color: $primary;
            line-height: 2rem;
            display: block;
            cursor: pointer;
        }
    }
    aside.docs-content {
        border-left: 1px solid $secondGrey;
        padding: 1rem;

        h2 {
            font-weight: normal;
            font-size: 1.5rem;
            color: #000;
            border-bottom: 1px solid #e0e0e0;
            line-height: 3rem;
            margin-bottom: 1rem;
        }
        h3 {
            font-weight: normal;
            font-size: 1.3rem;
            color: $secondary;
        }

        pre {
            background: #f6f6f6;
            padding: 1rem;
            code {
                background: inherit;
            }
        }
        code {
            color: #0e1954;
            background: #e5f2ff;
        }
    }
}
