footer {
    background-color: $footer;
    .row {
        padding: 0px 10px;
        justify-content: space-between;
        align-items: center;
        padding: 2rem 0rem 2rem 0rem;
        color: $white;
        .mit {
            text-align: center;
        }
        @include media-query($on-laptop) {
            padding: 15px $gutter;
        }
        @include media-query($on-laptop) {
            .mit,
            .contributors {
                display: none;
            }
            .social-network {
                margin: 0 auto;
            }
        }
        svg {
            float: left;
            fill: $white;
            stroke: $white;
            margin: 0px 5px;
        }
    }
}
