footer {
    background: $footer;
    .foot .row {
        justify-content: space-between;
        align-items: center;
        margin: 0 $gutter;
        padding: 2rem 0 2rem 0;
        color: $white;
        & > * {
            text-align: center;
            @include media-query($on-medium) {
                margin: $gutter/2 auto;
            }
        }
        .built {
            display: block;
            opacity: 0.75;
            a {
                color: $grey;
                text-decoration: underline;
            }
        }
        @include media-query($on-medium) {
            padding: 15px $gutter;
        }
        a {
            color: $white;
        }
        svg {
            float: left;
            fill: $white;
            stroke: $white;
            margin: 0 5px;
        }
    }
    .supporters {
        padding: 1rem;
        background-color: white;
        a {
            display: flex;
            align-items: center;
            justify-content: center;
            border-right: 1px solid $grey;
            padding: 0px;
            &:last-child {
                border-right: none;
            }
            svg,
            img {
                display: block;
                flex: 0 0 50%;
                max-width: 50%;
                width: 50%;
            }
            &.fill svg {
                fill: $footer;
            }
            &:hover {
                opacity: 0.8;
            }
        }
        @include media-query($on-medium) {
            a {
                border-right: 0px;
                min-height: 4rem;
                &:nth-child(odd) {
                    border-right: 1px solid rgba(255, 255, 255, 0.2);
                }
                &:nth-child(1),
                &:nth-child(2) {
                    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
                }
            }
        }
        @include media-query($on-small) {
            a {
                border-right: 0px;
                padding: 1rem;
                border-bottom: 1px solid rgba(255, 255, 255, 0.2);
                flex: 0 0 100%;
                max-width: 100%;
                &:last-child {
                    border-bottom: none;
                }
                &:nth-child(odd) {
                    border-right: none;
                }
            }
        }
    }
}
