.home {
    .hero-banner {
        @include media-query($on-small) {
            padding: 30px $gutter;
        }
        padding: 9rem $gutter;
        max-width: 840px;
        margin: 0 auto;
        .inferno-logo {
            display: block;
            margin: 0 auto;
            max-width: 150px;
        }
        .logo,
        .logo-text {
            padding: 0;
        }
        h1 {
            font-weight: normal;
            font-size: 2.75rem;
            text-align: left;
            margin: 0;
            small {
                font-size: 0.75rem;
                display: inline-block;
                margin-left: 5px;
            }
        }
        h2 {
            font-size: 1.6rem;
            @include media-query($on-small) {
                 font-size: 1rem;
            }
            font-weight: 200;
            margin: 0 0 1rem;
        }
        @include media-query($on-small) {
            h1,
            h2 {
                text-align: center;
                margin: 0;
            }
        }
        .buttons {
            margin-top: 27.5px;
            color: $white;
            .button {
                padding: 0.75em 3.5em;
            }
        }
    }
    section {
        h3 {
            font-weight: 400;
            color: $primary;
            font-size: 1.5rem;
            text-align: center;
            margin-bottom: 40px;
        }
        .copy {
            display: flex;
            align-items: center;
            .center {
                p,
                a {
                    align-items: none;
                    display: inline-block;
                    max-width: 100%;
                    margin: 15px auto !important;
                }
            }
        }
        &.features {
            border-bottom: 1px solid $bg;
            background-color: $bg;
            @include media-query($on-small) {
                .row > * {
                    flex: 0 0 100%;
                }
            }
            svg {
                width: auto;
                fill: $primary;
                float: left;
                flex: 0 0 50px;

                @include media-query($on-small) {
                    margin: 0 auto;
                    margin-bottom: $gutter;
                    display: block;
                    float: none;
                }
            }
            h2 {
                font-size: 1.3rem;
            }
            h2,
            p {
                padding-left: 1.25rem;
                overflow: auto;
                text-align: left;
            }
            // Feature boxes
            .features-wrapper {
                .row {
                    background: $bg;
                    transition: all 200ms ease;
                    .desc {
                        flex: 1 0 0px; /* unit needed IE support */
                        max-width: 100%;
                        min-width: 0;
                    }
                    padding: 2rem $gutter;
                    outline: 1px solid $white;
                }
            }
            @include media-query($on-small) {
                p,
                h2 {
                    padding-left: 0;
                    max-width: 240px;
                    margin: 0 auto;
                }
                h2 {
                    text-align: center;
                    margin-bottom: 1rem;
                }
                .features-wrapper .row .desc {
                    flex: none;
                    width: 100%;
                }
            }
        }
        &.benchmarks {
            padding: 40px;
            @include media-query($on-small) {
                padding: 35px $gutter;
            }
            svg {
                width: auto;
                display: block;
                margin: 0px auto 5px auto;
            }
            svg.graph {
                width: 391px;
                height: 270px;
                display: block;
                margin: 0px auto 5px auto;
                @include media-query($on-small) {
                    width: 100%;
                }
            }
            ul {
                max-width: 1100px;
                list-style: none;
                padding: 0px;
                display: flex;
                flex-flow: row;
                justify-content: space-between;
                margin: 40px auto 40px auto;
                overflow: auto;
                @include media-query($on-small) {
                    margin: 40px auto 0px auto;
                }
                li {
                    -webkit-transition: all .2s ease-in-out;
                    -o-transition: all .2s ease-in-out;
                    transition: all .2s ease-in-out;
                    flex: 1 1 auto;
                    max-width: 100%;
                    cursor: pointer;
                    text-align: center;
                    border-top: 3px solid $grey;
                    span {
                        padding: 15px;
                        @include media-query($on-small) {
                            padding: 15px 0px 0px 0px;
                            font-size: .75rem;
                        }
                        display: block;
                    }
                    &::before {
                        -webkit-transition: all .3s ease-in-out;
                        -o-transition: all .3s ease-in-out;
                        transition: all .3s ease-in-out;
                        display: block;
                        content: ' ';
                        position: relative;
                        left: 50%;
                        top: -5px;
                        margin-left: -5px;
                        width: 0;
                        height: 0;
                        border-left: 10px solid transparent;
                        border-right: 10px solid transparent;
                        border-top: 10px solid $primary;
                        opacity: 0;
                    }
                    &:hover {
                        color: $primary;
                    }
                    &.active {
                        border-top: 3px solid $primary;
                        color: $primary;
                        &::before {
                            opacity: 1;
                            top: 0px;
                        }
                    }
                }
            }
            .charts {
                max-width: 95%;
                margin: 0px auto;
                @include media-query($on-small) {
                    flex-direction: column-reverse;
                    max-width: 100%;
                    .visual,
                    .copy {
                        padding: 0px;
                    }
                }
                .visual {
                    overflow-x: hidden;
                    table {
                        margin: 0px auto;
                        width: 75%;
                        @include media-query($on-small) {
                            margin-top: 50px;
                            width: 100%;
                        }
                        @include media-query($on-large) {
                            margin-top: 50px;
                        }
                    }
                }
            }
            .button {
                margin: 50px auto;
                display: block;
            }
        }
        &.compare-react {
            border-top: 1px solid $grey;
            padding: 50px;
            @include media-query($on-small) {
                padding: $gutter;
            }
            max-width: 1100px;
            .content-accordion {
                max-width: 975px;
                margin: 0 auto
            }
        }
        &.try {
            padding: 2rem 1rem;
            background: $bg;
            .code {
                background: $bg;
                border-radius: 0.5rem;
                padding: 15px;
            }
            @include media-query($on-small) {
                padding: 2.5rem 0.75rem;
                .container {
                    padding: 0rem 1rem 0rem 1rem;
                }
            }
        }
    }
}
