.home {
    .hero-banner {
        padding: 140px $gutter;
        @include media-query($on-laptop) {
            padding: 70px $gutter;
        }
        max-width: 840px;
        margin: 0 auto;
        .inferno-logo {
            display: block;
            margin: 0 auto;
            max-width: 150px;
        }
        @include media-query($on-laptop) {
            max-width: 600px;
        }
        .logo, .logo-text {
            padding: 0px;
        }
        h1 {
            font-weight: normal;
            font-size: 2.25rem;
            text-align: left;
            margin: 0;
        }
        h2 {
            font-size: 1.6rem;
            font-weight: 200;
            margin: 0 0 1rem;
        }
        .buttons {
            padding-top: 0.25rem;
            a {
                font-size: 0.85rem;
            }
            div:first-child {
                padding-right: 0px;
                @include media-query($on-laptop) {
                    padding-right: $gutter;
                }
            }
        }
        @include media-query($on-small) {
            h1,
            h2 {
                text-align: center;
                margin: 1rem 0rem;
            }
        }
    }
    section.features {
        background: $bg;
        border-bottom: 1px solid $bg;
        @include media-query($on-small) {
            .row > * {
                flex: 0 0 100%;
                max-width: 100%;
            }
        }
        svg {
            width: auto;
            fill: $primary;
            padding-left: 0.25rem;
            float: left;
            @include media-query($on-small) {
                margin: 0 auto;
                margin-bottom: $gutter;
                display: block;
                float: none;
            }
        }
        h2,
        p {
            padding-left: 1.25rem;
            overflow: auto;
            text-align: left;
            font-weight: 200;
        }
        @include media-query($on-small) {
            p,
            h2 {
                padding-left: 0rem;
                max-width: 240px;
                margin: 0 auto;
            }
            h2 {
                text-align: center;
                margin-bottom: 1rem;
            }
        }
        .row > * {
            padding: 2rem $gutter;
            outline: 1px solid $white;
        }
    }
    section h3 {
        font-weight: 200;
        color: $primary;
        font-size: 1.35rem;
        text-align: center;
    }
    section.benchmarks {
        padding: 40px;
        @include media-query($on-laptop) {
            padding: 10px $gutter;
        }
        svg {
            width: auto;
            display: block;
            margin: 0px auto 5px auto;
        }

        svg.graph {
            width: 391px;
            height: 270px;
            display: block;
            margin: 0px auto 5px auto;
            @include media-query($on-laptop) {
                width: 100%;
            }
        }

        ul {
            max-width: 1100px;
            list-style: none;
            padding: 0px;
            display: flex;
            flex-flow: row;
            justify-content: space-between;
            margin: 40px auto 40px auto;
            overflow: auto;
            li {
                -webkit-transition: all .2s ease-in-out;
                -o-transition: all .2s ease-in-out;
                transition: all .2s ease-in-out;
                flex: 1;
                display: inline-block;
                padding: 15px;
                cursor: pointer;
                min-width: 220px;
                text-align: center;
                border-top: 3px solid $grey;
                &:hover {
                    color: $primary;
                }
                &.active {
                    border-top: 3px solid $primary;
                    color: $primary;
                }
            }
        }
        .charts {
            max-width: 80%;
            margin: 0px auto;

            @include media-query($on-laptop) {
                margin: 0;
                max-width: none;
                .visual {
                    padding: 15px 0px;
                }
            }
            .copy {
                display: flex;
                align-items: center;
            }
        }
        .button {
            margin: 25px auto;
            display: block;
        }
    }
    section.compare-react {
        padding: 40px;
        @include media-query($on-laptop) {
            padding: 10px $gutter;
        }
        h3 {
            margin-bottom: 40px;
        }
        ul {
            list-style: none;
            padding: 0px;
            margin-right: 15px;
            margin-bottom: 0px;
            li {
                display: flex;
                align-items: center;
                -webkit-transition: all .2s ease-in-out;
                -o-transition: all .2s ease-in-out;
                transition: all .2s ease-in-out;
                text-align: right;
                cursor: pointer;
                padding: 5px 10px 10px 0px;
                border-right: 1px solid $grey;
                &.active {
                    color: $primary;
                    border-right: 2px solid $primary;
                }
                &:hover {
                    color: $primary;
                }
            }
        }

        @include media-query($on-laptop) {
            ul {
                list-style: none;
                padding: 0px;
                display: flex;
                flex-flow: row;
                justify-content: space-between;
                margin: 40px auto 40px auto;
                li {
                    -webkit-transition: all .2s ease-in-out;
                    -o-transition: all .2s ease-in-out;
                    transition: all .2s ease-in-out;
                    flex: 1;
                    display: inline-block;
                    padding: 15px;
                    cursor: pointer;
                    width: 33.33%;
                    text-align: center;
                    border-right: none;
                    border-top: 3px solid $grey;
                    &:hover {
                        color: $primary;
                    }
                    &.active {
                        border-top: 3px solid $primary;
                        color: $primary;
                        border-right: none;

                        &::before {
                            opacity: 1;
                            top: 0px;
                        }
                    }
                }
            }
        }
        .charts {
            max-width: 80%;
            margin: 0px auto;
            .copy {
                display: flex;
                align-items: center;
            }
            .visual {
                table {
                    margin: 0px auto;
                    width: 75%;
                    @include media-query($on-laptop) {
                        margin-top: 50px;
                        width: 100%;
                    }
                    @include media-query($on-desktop) {
                        margin-top: 50px;
                    }
                }
            }
        }
        .button {
            margin: 25px auto;
            display: block;
        }
        .copy {
            padding: 0px 25px 0px 25px;
            display: flex;
            align-items: center;
        }
    }
    section.compare-react {
        border-top: 1px solid $grey;
        padding: 50px;
        line-height: 25px;
        @include media-query($on-laptop) {
            padding: 10px $gutter;
        }
    }
    section.try {
        padding: 40px;
        background: $grey;
        @include media-query($on-laptop) {
            padding: 10px $gutter;
        }
        h3 {
            margin-bottom: 30px;
        }
        .code {
            background: $secondGrey;
            border-radius: 0.5rem;
            padding: 15px;
        }
    }
}
