$offset: 187;
$duration: 1.4s;

.spinner {
    position: absolute;
    animation: rotator $duration linear infinite;
    circle {
        stroke-dasharray: $offset;
        stroke-dashoffset: 0;
        transform-origin: center;
        animation: dash $duration ease-in-out infinite, colors ($duration*4) ease-in-out infinite;
    }
}

@keyframes rotator {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(270deg); }
}

@keyframes colors {
    0% { stroke: #e80046; }
    100% { stroke: #F7C223; }
}

@keyframes dash {
    0% { stroke-dashoffset: $offset; }
    50% {
        stroke-dashoffset: $offset/4;
        transform:rotate(135deg);
    }
    100% {
        stroke-dashoffset: $offset;
        transform:rotate(450deg);
    }
}
