$topnav-height: 2.8rem;
$sidebar-width: 50%;
.menu {
  color: #fff;
  background: #1c1e23;
  box-shadow: 2px -2px 6px 1px #000;

  nav {
    display: flex;
    width: 100%;

    .menu-item,
    .menu-item:visited {
      color: #fff;
      font-size: 1rem;
      line-height: 3em;
      padding: 0 1rem;
      cursor: pointer;

      @include media-query($on-small) {
        line-height: 3em;
        text-align: left;
        margin-left: 0;
      }
      &:hover,
      &.selected {
        text-decoration: none;
        background: #bb1917;
        /*border-bottom: 3px solid #fff;*/

        @include media-query($on-small) {
          border-bottom: 0px;
        }
      }
    }
  }
}

.branding {
  @include media-query($on-small) {
    display: none;
  }
  -webkit-transition: all .2s ease-in;
  -o-transition: all .2s ease-in;
  transition: all .2s ease-in;
  display: flex;
  align-items: center;
  padding-left: 15px;
  font-weight: normal;
  color: #fff;
  text-decoration: none;
  font-size: 1.25rem;
  margin: 0;
  opacity: 0;
  visibility: hidden;
  width: 200px;

  svg {
    height: 42.5px;
    margin-right: 7.5px;
  }
  small {
    font-size: .65rem;
    height: 10px;
    margin-left: 4px;
    color: #fff;
  }
  &.show {
    opacity: 1;
    visibility: visible;
  }
  .inferno-logo {
    path {
      fill: #505050 !important;
    }
    path:first-child {
      fill: #E41F1C !important;
    }
  }
}

.hamburger {
  fill: #fff;
  cursor: pointer;
  z-index: 10;
  display: none;
  @include media-query($on-small) {
    display: block;
  }
}

.dropdown {
  display: flex;
  padding: 0;
  margin: 0;

  .button-dropdown {
    position: relative;
  }
  li {
    display: flex;
    list-style: none;
    a {
      color: #fff;
      font-size: 1rem;
      line-height: 3em;
      padding: 0 1rem;
      cursor: pointer;

      @include media-query($on-small) {
        line-height: 3em;
        text-align: left;
        margin-left: 0;
        padding-left: 1.25em;
      }
      &:hover,
      &.selected {
        text-decoration: none;
        background: #bb1917;
        /*border-bottom: 3px solid #fff;*/

        @include media-query($on-small) {
          border-bottom: 0px;
        }
      }
    }
    a span {
      display: inline-block;
      margin-left: 5px;
      font-size: 10px;
    }
    a:hover,
    a.dropdown-toggle.active {
      background: #941412;
      color: #fff;
    }
    a:hover span,
    a.dropdown-toggle.active span {
      color: #fff;
    }
    .dropdown-menu {
      display: none;
      position: absolute;
      color: #fff;
      background: #bb1917;
      top: 48px;
      left: 0;
      padding: 0;
      text-align: left;
      animation: dropdownAnimation .15s ease-out;
      box-shadow: 3px 8px 30px -7px #626262;

      a {
        color: #fff;
        font-size: 0.9rem;
        width: 200px;
        display: flex;
      }
    }
    .dropdown-menu.active {
      display: block;
      z-index: 99;
    }
  }
}

@keyframes dropdownAnimation {
  0% {
    opacity: 0;
    transform: translateY(-50%) rotateX(-45deg);
  }
}
