.repl {
    width: 800px;
    margin: 0 auto;

    .repl-editor {
        position: relative;
        border: 1px solid #ccc;
        min-height: 6rem;
    }

    .repl-output {
        position: relative;
        border: 1px solid #ccc;
        min-height: 6rem;
    }

    .hidden {
        visibility: hidden;
    }

    button {
        margin: 1rem 0;
    }
}
