/* colors */
$black: #202026;
$white: #fff;
$bg: #f8f8f8;
$primary: #e60022;
$grey: #e0e0e0;

/* animation */
$offset: 187;
$duration: 1.4s;

/* media queries */
$on-small: 500px;
$on-small: 700px;
$on-large: 1200px;

/* grid */
$columns: 12;
$grid: ( xs: 0px, sm: 700px, lg: 1200px);
$gutter: 15px;
