/* colors */
$black: #000;
$white: #fff;
$g1: #333;
$g2: #555;
$g3: #777;
$bg: #f8f8f8;
$primary: #f40026;
$secondary: #d20021;
$footer: #545454;
$grey: #e0e0e0;
$secondGrey: #d0d0d0;

/* animation */
$offset: 187;
$duration: 1.4s;
