/* Performance optimized box-sizing */
html, body, div, article, blockquote, section, main, footer, header, form, fieldset, legend,
pre, code, p, a, h1, h2, h3, h4, h5, h6, ul, ol, li, dl, dt, dd, textarea, svg,
input[type="email"], input[type="number"], input[type="password"],
input[type="tel"], input[type="text"], input[type="url"], button, .button, .border-box {
  box-sizing: border-box;
}

blockquote {
  margin: 0 0 1rem;
}

.container {
  margin: 0 auto;
  padding-left: $gutter;
  padding-right: $gutter;
  width: 100%;
  max-width: 1200px;
  @include media-query($on-small) {
    padding-left: 0px;
    padding-right: 0px;
  }
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.container::after {
  content: "";
  display: table;
  clear: both;
}

html {
  box-sizing: border-box;
  line-height: 1.42857143;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
}

body {
  height: 100%;
  background: #fff;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: normal;
  padding: 0;
  margin: 0;
  border: 0;
  overflow-x: hidden;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
}

#root {
  background: #fff;
  z-index: 1;
}

#load {
  position: absolute;
  text-align: center;
  bottom: 16px;
  width: 100%;
  z-index: -1;
}

h1, h2, h4, h5 {
  font-weight: normal;
}

h3 {
  font-weight: 500;
}

.banner {
  text-align: center;
  display: block;
  width: 100%;
  padding: 10px;
  background: #eee;
}

svg, a, li {
  filter: grayscale(100%); // BLM
}