footer {
  margin-top: 2rem;
  margin-bottom: 1rem;
  .sponsors {
    a {
      display: flex;
      align-items: center;
    }
    .column {
      display: flex;
      justify-content: center;
    }
    img, svg { fill: #545454; }
    .digitalocean svg,
    .saucelabs img { height: 1rem; }
    .thegrid svg { height: 2.4rem; }
  }
  .license {
    margin-top: 1rem;
    font-size: 0.7rem;
    color: #999;
  }
}
