.markdown {
  h2 {
    font-size: 2rem;
    font-weight: lighter;
    line-height: 4rem;
    border-bottom: 1px solid #efefef;
  }
  h3 {
    font-size: 1.4rem;
    font-weight: lighter;
    line-height: 3rem;
    padding-left: 1.2rem;
    border-left: 4px solid #f40026;
    background: #efefef;
  }
  pre {
    padding: 1rem;
    background: #f3f3f3;
  }
}
