/*! Spectre.css v0.4.5 | MIT License | github.com/picturepan2/spectre */
@use "./spectre/normalize";
@use "./spectre/base";
@use "./spectre/typography";
@use "./spectre/tables";
@use "./spectre/buttons";
@use "./spectre/layout";
@use "./spectre/navbar";
@use "./spectre/navs";
@use "./spectre/tabs";

@use "./spectre/tooltips";
@use "./spectre/utilities";

@use "./utils";

@use "./common";
@use "./home";
@use "./benchmarks";
@use "./menu";
@use "./docs";
@use "./footer";
@use "./markdown";
@use "./demo";
